    <p><%= @recipe.name %></p>
    <div >
      <div>
        <p>Preparation Time:</p>
        <p><%= @recipe.preparation_time %> hours</p>
      </div>
    </div>
    <div >
      <p>Cooking Time:</p>
      <p><%= @recipe.cooking_time %> hours</p>
    </div>
    <p><%= @recipe.description %></p>
